# Core dependencies
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
# torch==2.0.1+cu118
# torchvision>=0.15.2+cu118
# torchaudio>=2.0.2+cu118
# --extra-index-url https://download.pytorch.org/whl/cu118

# Transformers + HuggingFace tools
transformers==4.33.2
accelerate==0.23.0
diffusers==0.21.4
safetensors==0.3.3

# For GroundingDINO and SAM
opencv-python==4.7.0.72
matplotlib==3.7.2
tqdm==4.66.1
pycocotools==2.0.7
scipy==1.14.1
pandas

# CUDA extensions
# ninja==1.11.1
# setuptools==67.7.2
# wheel==0.40.0

# Image processing and visualization
Pillow==11.2.1
imageio==2.31.1
imgaug==0.4.0

# Optional but recommended
einops==0.6.1
gradio==3.41.2
